body {
    font-family: sans-serif;
}

td,
th {
    padding: 3px;
    height: 4.1em;
    width: 5.5em;
    text-align: center;
}

#menu {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 30%;
}

@media print {
    #menu {
        display: none;
    }
}

table {
    page-break-inside: avoid;
    margin-bottom: 0.75em;
}

ul,
ol {
    text-align: justify;
}

#loadingScreen {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: palegoldenrod;
    position: fixed;
    top: 0;
    left: 0;
}

#loadingScreen h1 {
    padding-top: 30vh;
}

#errorScreen {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: palevioletred;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#errorScreenNumber {
    font-size: 400%;
    padding-top: 25vh;
}
